<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" type="text/css" />
    <title>Code generator</title>
  </head>
  <body>
    <button id="generate-button">Generate a code</button>
    <p id="generated-code"></p>
    <script>
      document
        .getElementById("generate-button")
        .addEventListener("click", () => {
          fetch("/admin/generate-code", {
            method: "POST",
          })
            .then((response) => {
              return response.json();
            })
            .then((data) => {
              document.getElementById(
                "generated-code"
              ).innerHTML = `${data.code}`;
            })
            .catch((error) => {
              console.error("Error generating the code", error.message);
            });
        });
    </script>
  </body>
</html>
